body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
 
}
img{
  display: block;
  max-width: 100%;
    height: auto;
}

.container{
  max-width: 320px; 
  padding: 0 16px;
  margin: 0 auto;
  }

@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section{
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}
.header-container{
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-web {
  color: #4d5ae5;
}

.nav{display: flex;
align-items: center;}

.nav-list{
  display: flex;
  gap:40px;
  margin-left: 76px;
}
@media screen and (min-width: 768px) {
  .nav-list {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
}
@media screen and (max-width: 767px) {
  .nav-list, .contacts{
    display: none;
  }
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.active{
  color: #404BBF;
}
.nav-link.active::after{
content: "";
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
background-color: #404BBF;
border-radius: 2px;

}

.contacts {
  font-style: normal;
   margin-left: auto;
}


@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
      display: block;
      font-style: normal;
      margin-left: auto;
    }
  .contacts-list {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    gap: 12px;
  }
    .contacts-link {
      display: block;
      padding: 0;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 1158px) {
  .contacts-list {
      flex-direction: row;
      gap: 40px;
    }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.menu-open-btn{
  border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
.hero {
  background-image:  linear-gradient(
      to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ), url("../images/hero-mobile.jpg");
  background-color: #2e2f42;
   padding: 72px 0;

  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;

}
@media(min-resolution: 192dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2){
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mobile@2x.jpg");
      }
    }
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tablet.jpg");
  }

  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tablet@2x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-desktop.jpg");
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-desktop@2x.jpg");
    }
  }
}
.hero-title {
  max-width: 216px;
  margin: 0 auto 72px auto;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;

  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
 
  }
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-title {
  font-size: 36px;
  line-height: 1.11;
 
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.features-list{
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-item{
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features-item{
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .features-item {
    flex-direction: row;
    width: calc((100% - 72px) / 4);
  }
}
.features-subtitle {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.features-icon-circle {
  display: none;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color:#F4F4FD;
  border: 1px solid #8E8F99;  
  border-radius: 4px;
  margin-bottom: 8px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1158px) {
  .features-icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
}
.features-icon-circle:hover,
.features-icon-circle:focus {
  background-color:#F4F4FD;
}



.features-icon {
  width: 64px;
  height: 64px;
  fill: #2E2F42;
}
.team {
  background-color: #f4f4fd;
}
.team-list{
  display: flex;
  flex-wrap: wrap;
   gap: 72px;
   justify-content: center;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-title,
.portfolio-title{
  margin-bottom: 72px;
}
.team-item {
  background-color: #ffffff;
  width: 100%;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-list {
   column-gap: 24px;
   row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
    .team-item{
    width: calc((100% - 72px) / 4);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {

  .team .container,
  .footer .container {
    max-width: 584px;
  }
}
.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-content{
  padding: 32px 16px;
  text-align: center;
}
.team-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-circle:hover,
.team-icon-circle:focus {
  background-color: #404bbf;
}

.team-social-icons {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-icon {
   fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
 column-gap: 24px;
 row-gap: 48px;
 
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
  }
    .portfolio-item {
      width: 100%;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}
.portfolio-item{
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
@media screen and (max-width: 1157px) {
  .portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item{
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
.portfolio-item:hover {
              box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
            }
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}
.portfolio-thumb{
  position: relative;
  overflow: hidden;
}
.portfolio-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media screen and (max-width: 767px) {
  .footer-left {
    margin-right: 0;

    text-align: center;

  }

  .footer .logo {
    display: block;
  }
  .footer-text{
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
  }
  .footer-left{
    margin-right: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-wrapper {
    padding-left: 15px;
    gap: 0;
  }
  .footer-left{
    margin-right: 120px;
  }
}
.footer .logo {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.footer .logo .logo-web{
  color: #4d5ae5;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {

  .team .container,
  .footer .container {
    max-width: 584px;
  }
}
.social-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.icon-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1158px) {
  .social-container {
    margin-right: 80px;
  }
}
.icon-circle:hover,
.icon-circle:focus{
  background-color: #31d0aa;
}
.social-icons{
  fill: #f4f4fd;
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.icon{
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe {
  text-align: center;
}
@media screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-left: auto;
    text-align: left;
  }
}
.subscribe-form {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .subscribe-form{
    flex-direction: row;
    gap: 24px;
  }
}
.subscribe-input {
  width: 100%;
  max-width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-input:focus {
  border-color: #31d0aa;}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}
.subscribe-icon {
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  margin-left: 16px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  
  visibility: hidden;
 
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover{
  border-color: #4D5AE5;
}
.modal-input:hover + .modal-icon {
  fill: #4D5AE5;
}
.modal-input:focus,
.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4d5ae5;
  outline:none;
}

.modal-checkbox-container {
  margin-bottom: 24px;
}

.modal-check-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  flex-shrink: 0;
}
.custom-checkbox svg {
  opacity: 0;
  fill: #f4f4fd;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-input:checked + .modal-check-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  }
.modal-check-input:checked+.modal-check-label .custom-checkbox svg {
  opacity: 1;}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px 16px;

  opacity: 0;
    visibility: hidden;
    pointer-events: none;

  transform: translateX(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}
.mobile-menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-close-btn svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.mobile-nav{
  flex-grow: 1;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.mobile-nav-link,
.mobile-contacts-link {
  text-decoration: none;
}
.mobile-nav-link.active {
  color: #404bbf;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}

.mobile-contacts-link.accent {
  color: #4d5ae5;
}

.mobile-socials {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.mobile-socials .icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
.mobile-socials .icon-circle {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-socials .icon-circle:hover,
.mobile-socials .icon-circle:focus {
  background-color: #31d0aa;
}